# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
ENV/

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media/
staticfiles/

# Environment
.env

# Tailwind
node_modules/
theme/static/css/dist/

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Coverage
.coverage
htmlcov/

# Migrations (garder les migrations en VCS pour un projet partagé)
# !*/migrations/*.py
